.btn-primary-class{
 background-color: transparent;
    background-image: linear-gradient(157deg,#fc907e,#9f6eed);
    color: white;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    transition: all .35s;
    display: flex
}
.btn-primary-class:hover{
     background-image: linear-gradient(228deg,#fc907e,#9f6eed);
    color: #1d1d1d;
    transform: translateY(-3px);
  
}

.login-btn-class{
     background: linear-gradient(90deg,#fc907e,#9f6eed);
    /* background-clip:content-box; */
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 500;
}